.squares-table {
  position: relative;
  display: inline-block;
  border: 1px solid #48aae6;
  margin: 60px;

  td {
    width: 50px;
    background-color: #48aae6;
    height: 50px;
  }

  button {
    outline: none;
    margin: 2px;
    color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 25px;
    position: absolute;
    border: none;
    transition: 0.25s;
  }

  button:hover {
    transition: opacity 0.5s;
    opacity: 65%;
  }

  .button-rm,
  .button-rm {
    visibility: hidden;
    background-color: #b20000;
  }

  .button-add,
  .button-row {
    background-color: #f3a500;
  }

  .add-coll {
    left: 100%;
    top: 0;
  }

  .remove-coll {
    bottom: 100%;
    left: 0;
  }

  .remove-row {
    right: 100%;
    top: 0;
  }
  .visible{
    visibility: visible;
  }
  .hidden{
    visibility: hidden;
  }
  .block{
    display: block;
  }
  .none{
    display: none;
  }
}